
lazygit/state.yml
nvim/plugin
zshrc
nvim/.luarc.json
config/ncmpcpp/error.log
config/mpd/mpd.log
config/mpd/mpdstate
config/ranger/colorschemes/__pycache__
config/ranger/plugins
nvim/lazy-lock.json
config/.DS_Store

config/fish/fish_variables
config/fish/fish_variables
config/lazygit/state.yml
